@media (max-width: 1500px) {
  .content .caption {
    right: 2vw;
  }
}

@media (max-width: 1024px) {
  .content .caption {
    right: 10vw;
    transform: scale(1.4);
    top: 20vh;
  }
  .content .caption:nth-child(2) {
    right: 30vw;
  }
  .content .caption:nth-child(3) {
    transform: scale(1.8);
    right: 18vw;
  }
  .content .caption:nth-child(4) {
    transform: scale(1.6);
    top: 35vh;
    right: 20vw;
  }
}

@media (max-width: 550px) {
  .content .caption {
    right: 15vw;
    transform: scale(0.8);
  }
  .content .caption:nth-child(3) {
    transform: scale(1.35);
    right: 23vw;
  }
}

@media (max-width: 400px) {
  .content .caption {
    right: 20vw;
    transform: scale(0.8);
  }
  .content .caption:nth-child(3) {
    transform: scale(1.1);
    top: 18vh;
    right: 29vw;
  }
  .content .caption:nth-child(4) {
    top: 35vh;
    right: 23vw;
    transform: scale(1.25);
  }
}

@media (max-width: 660px) {
  .hero .titelBar .nav { display: none; }
  .hero .titelBar .toggle,
  .hero .titelBar .text { display: flex; }
  .frame-counter { display: none; }
}

@media (prefers-reduced-motion: reduce) {
  .caption { transition: none; }
}